* {
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
    /* font-family: 'Work Sans', sans-serif; */

}

body {}

.text-primary {
    color: #fd6e0a;
}

.btn-primary {
    color: white;
    font-weight: 700;
    font-size: 20px;
    border: 0;
    padding: 10px 35px;
    /* height: 20px; */
    border-radius: 5px;
    background-color: #fd6e0a;
    text-align: center;
    align-items: center;
}

header {
    /* border: 5px solid red; */
    background-image: url(images/header_bg.png), url(images/developer.png);
    background-position: right bottom, left bottom;
    /* position: absolute; */
    background-repeat: no-repeat;
    margin-bottom: 130px;
}

nav {
    display: flex;
    justify-content: space-between;
    margin: 50px 200px;
    text-align: center;
    height: 20px;
    align-items: center;
    margin-bottom: 70px;
}

.nav-title {
    font-weight: 800;
    font-size: 45px;

}

nav ul {
    display: flex;
    align-items: center;
    text-align: center;
}

nav li {
    list-style: none;
    margin-left: 50px;

}

/* banner style */
.banner {
    display: flex;
    align-items: center;
    margin: 0px 200px;

}

.banner-title {
    margin-bottom: 30px;
    font-weight: 700;
    font-size: 85px;
}

.banner-subtitle {
    font-weight: 600;
    font-size: 45px;
}

.banner-discription {
    margin-bottom: 30px;
    color: #757575;
    font-size: 18px;
}

.banner img {
    margin-right: -140px;
    width: 100%;
    height: 50%;
}

button {
    margin-right: 25px;
}

main {
    max-width: 11140px;
    margin: 0 230px;
}

.about {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    /* align-items: center; */
    background-color: #FFF8F3;
    border-radius: 5px;
    /* width: 1140px; */
    height: 300px;
    margin-bottom: 130px;
    padding: 85px;
    text-align: center;
}

.about .section-title {
    font-family: 'Open Sans';
    font-size: 30px;
    font-weight: bold;
}

.about .section-discription {
    color: rgb(117, 117, 117);
    margin-bottom: 2px;
}

.about .info {
    display: flex;
    justify-content: space-around;
    /* margin: 10px 15px; */
}

.about .info .inbox {
    padding: 10px;
    color: rgb(117, 117, 117);
}

.about .info .inbox .bold {
    color: black;
    font-weight: bold;
}

/* skills section start */

.skills {
    text-align: center;
    line-height: 25px;
    margin-bottom: 50px;
}

.skills p {
    color: rgb(117, 117, 117);

}

.skills .skill-title {
    padding: 30px;
    font-family: 'Open Sans';
    font-size: 30px;
    font-weight: 700;
}

.skills .skill-dis {
    margin-bottom: 50px;
}

.skills .card-box {
    display: flex;
    justify-content: space-around;

}

.skills .card-box .card {
    margin: 10px;
    padding: 10px;
    text-align: left;
    background: #FFFFFF;
    box-shadow: 0px 6px 50px rgba(0, 0, 0, 0.06);
    border-radius: 5px;
}

.skills .card-box .card h2 {
    margin: 15px 0px;
}

/* resume section */

.resume {
    margin-top: 120px;
    margin-bottom: 130px;
}

.resume .resume-title {
    text-align: center;
    margin-bottom: 70px;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 25px;
}

.resume .work {
    display: flex;
}

.resume .edu,
.exp {
    padding: 30px;
}

.resume .edu h2,
.exp h2 {
    margin-bottom: 20px;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    line-height: 41px;
}

.resume .resume-info {
    padding: 15px 0px;
}

.resume .resume-info h3 {
    font-family: 'Open Sans';
    font-weight: bold;
}

.resume .resume-info h4,
p {
    color: rgb(117, 117, 117);

}

.resume .resume-info h4 {
    margin: 5px 0px 12px 0px;
}

hr {
    color: #d1d1d1;
    margin-top: 25px;
}

.cv {
    display: block;
    text-align: center;
    margin-left: 43%;
}
/* footer secstion */
.footer{
    background-color: rgba(255, 248, 243, 1);
    display: flex;
    justify-content: center;
    padding: 80px 210px;
}
.footer .social{
    margin: 10px;
    padding: 10px;
}
.footer .social p{
    margin: 12px 0px 23px 0px;
}
.footer .social .fa-brands{
    margin-right: 10px;
    color: #fd6e0a;
    font-size: 20px;
}
.footer .msg{
    display: flex;
    flex-flow: column wrap;
    margin: 10px;
    padding: 10px;
    /* justify-content: left; */
    /* align-items: flex-start; */

}
.footer .msg  input , textarea{
    margin-top: 15px;
    padding: 10px;
    width: 280px;
    outline: none;
    border: none;
    border-radius: 5px;
}
.footer .msg h2{
    margin-bottom: 10px;
}
.submit{
    margin-top: 15px;
    width: 140px;
}